body {
    text-align: center;
    font-family: 'Monserrat', sans-serif;
	background-image: url('/images/lightpaperfibers.png');
}

button {
    margin: 5px;
}

#intro {
    margin-bottom: 30px;
}

h3 {
    margin-bottom: -30px;
}

#quote {
    margin: 20px;
}